body{
    background-color: aqua;
}

.maior {
    background-color: rgb(189, 183, 194);
    padding: 20px;
    width: 100%;
    height: 650px;
    font-size: 20px;



    display: flex;
    justify-content: center;
    align-items: center ;
     
   

}

div.one{           

    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;  

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start; 
   
    
}

div.two{
    width: 200px;
    height: 200px;
    background-color: rgb(15, 15, 15);
    color: white;
   
    display: flex;
    justify-content: center;
    align-items: center;

}

div.tree{
    width: 200px;
    height: 200px;
    background-color: rgb(131, 42, 42);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start; 



}